[Unit]
Description=Minecraft Server: %i
After=network.target

[Service]
WorkingDirectory=/home/tralce/instances/%i

User=tralce
Group=users

Restart=always

ExecStart=/usr/bin/screen -DmS mc-%i /usr/bin/java -Xmx3G -jar minecraft.jar nogui

ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "save-all"\015'
ExecStop=sleep 3
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "stop"\015'

[Install]
WantedBy=multi-user.target
